@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@400;500;600;700;800&display=swap");
:root {
  --font-inter: "Inter", sans serif;
  --color-black: #333333;
  --color-rose: #eb5757;
  --color-bk: #f5f5f5;
  --color-white: #ffffff;
  --color-gren: rgba(39, 174, 96, 1);
  --colorBk2: #bdbdbd;
}

.ListaCarrinho {
  display: flex;
  width: 17rem;
  height: 7rem;
}
.imgCarrinho {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  background-color: var(--colorBk2);
}
.remover {
  height: 15px;
  width: 51px;

  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;

  color: var(--colorBk2);
  cursor: pointer;
  border: none;
  margin-left: 4rem;
}
.NomeCarrinho {
  font-family: var(--font-inter);
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-black);
}
.categoria {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--colorBk2);
}
.spanTextoCarrinho {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: -3rem 0rem 0rem 1rem;
}
